# Ignoring the go.sum file. There are checksum issues with
# different versions of Golang. Remove once all Go versions
# are in sync
go.sum
Dockerfile
Jenkinsfile
docker-compose.yml
.gitignore
.env
.dockerignore
snap/**
docs/**

